<div id="ferguson-card" class="banner-card mdl-card mdl-shadow--2dp"
     style="min-height: 0 !important; display: none;">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Performances This Week</h2>
    </div>
    <div class="mdl-card__supporting-text" style="width: 100%">
        <div id="ferguson-events"></div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
           href="views/ferguson.html" data-role="button">
            See all performances
        </a>
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                onclick="openWidgetMenu(this);" data-widget="events">
            <i class="widget-menu fa fa-ellipsis-v" style="color: #34495e;"></i>
        </button>
    </div>
</div>
<script id="ferguson-event-list-template" type="text/x-kendo-tmpl">
    <div style="margin:0.5rem">
        <h5 style="margin-top: 0">${Day}</h5>
        <img src="${PhotoUrl}" width="100%" />
    </div>

</script>
<script>
    $.getScript("scripts/ferguson.js", function() {
        fetchWeeklyFergusonEvents(function(events) {
            if (events.length > 0) {
                $("#ferguson-events").append(kendo.render(kendo.template($("#ferguson-event-list-template").html()), events));
                $("#ferguson-card").css('display', 'block');
            }
        });
    });

</script>
