<div class="banner-card mdl-card mdl-shadow--2dp" style="min-height: 0 !important;">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Weather</h2>
    </div>
    <div class="mdl-card__supporting-text" style="width: 100%">
        <span style="display: block !important; width: 100%; text-align: center; font-family: sans-serif; font-size: 12px;"><a
                href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:23601.1.99999&bannertypeclick=wu_bluestripes"
                title="Christopher Newport University Weather Forecast" target="_blank"><img
                src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_bluestripes&airportcode=KPHF&ForcedCity=Newport News&ForcedState=VA&zip=23601&language=EN"
                alt="Find more about Weather in Newport News, VA" width="200px"/></a><br><a
                href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:23601.1.99999&bannertypeclick=wu_bluestripes"
                title="Get latest Weather Forecast updates"
                style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast</a></span>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
           href="views/weather.html" data-role="button">
            Go to Weather
        </a>
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                onclick="openWidgetMenu(this);" data-widget="weather">
            <i class="widget-menu fa fa-ellipsis-v"></i>
        </button>
    </div>
</div>
