<div data-role="view" data-title="Emergency Procedures" data-use-native-scrolling="true">
    <div class="procedures">
        <div data-role="collapsible">
            <h3>Active Shooter</h3>
            <p>If an active shooter is outside your building or inside the building you are in, you
                should:</p>
            <ul>
                <li>Try to remain calm</li>
                <li>Try to warn other faculty, staff, students and visitors to take immediate
                    shelter
                </li>
                <li>Proceed to a room that can be locked or barricaded</li>
                <li>Lock and barricade doors or windows</li>
                <li>Turn off lights</li>
                <li>Close blinds</li>
                <li>Block windows</li>
                <li>Turn off radios or other devices that emit sound</li>
                <li>Keep yourself out of sight and take adequate cover/protection, i.e. concrete
                    walls, thick desks, filing cabinets
                </li>
                <li>Silence cell phones</li>
                <li>Have one person call the University Police at <a class="emergency-number"
                                                                     href="tel:7575947777"
                                                                     data-rel="external">594-7777</a>
                    (or 4-7777 from an on-campus phone) and provide the following information: <i>"This
                        is (your name). I am in (give your exact campus location) and we have an
                        active shooter on campus."</i></li>
            </ul>
        </div>
        <div data-role="collapsible">
            <h3>Bomb Threat</h3>
            <p>If you receive a bomb threat, listen carefully to the details of the threat and try
                to keep the caller talking until you are able to obtain the answers to the following
                questions:</p>
            <ol>
                <li>When will the bomb explode?</li>
                <li>Where is it located?</li>
                <li>What does it look like?</li>
                <li>What kind of bomb is it?</li>
                <li>What will cause it to explode?</li>
                <li>Did you place the bomb?</li>
                <li>Why?</li>
                <li>Where are you calling from?</li>
                <li>What is your address?</li>
                <li>What is your name?</li>
            </ol>
            <ul>
                <li>Write down whether the caller is male or female, what age they sound like, any
                    voice characteristics the caller may have (lisp, stuttering, accents, disguised,
                    etc.), and any background noise you may hear.
                </li>
                <li>If you have a display telephone or a cellphone, write down what appears on the
                    digital display, including the exact time and date of the call.
                </li>
                <li>Call University Police at <a class="emergency-number" href="tel:7575947777"
                                                 data-rel="external">594-7777</a> (or 4-7777 from an
                    on-campus phone) and report the call.
                </li>
                <li>Follow all instructions given to you by police or security personnel. If
                    requested, evacuate the building. Wait for University Police to announce the
                    "All Clear" when the danger has subsided.
                </li>
            </ul>
        </div>
        <div data-role="collapsible">
            <h3>Building Evacuation</h3>
            <p>Upon receipt of emergency instructions to evacuate the building, or upon the sounding
                of the Fire Alarm, all persons shall:</p>
            <ol>
                <li>Walk to the nearest usable exit, and exit the building.</li>
                <li>If on the second floor, walk to the nearest stairwell. If the door to the
                    stairwell is hot, or smoke or other hazardous condition is encountered or
                    visible, proceed to an alternate stairwell. Walk down the stairs and exit the
                    building.
                    DO NOT USE THE ELEVATORS - they may lose electrical power and trap you, or may
                    automatically open into a fire or other hazardous situation.
                </li>
                <li>If you have information about persons in the building who may need assistance,
                    or about hazardous conditions existing in the building, report it to a CNU
                    police officer, Fire Department personnel or other emergency coordinator on the
                    scene.
                </li>
                <li>Proceed well clear of the building and, if the problem is localized and not
                    campus-wide, assemble in the nearest parking lot or other open space so that a
                    roll may be taken to determine if anyone known to have been in the building is
                    not
                    accounted for.
                </li>
                <li>The designated areas for rescue assistance for persons with disabilities or
                    serious injuries are the stairwells of the building – preferentially the
                    stairwells at ends of the building. Provide all possible assistance to persons
                    with disabilities
                    to reach the designated rescue assistance areas. Do not attempt to carry such
                    persons down the stairs. Inform a CNU police officer or Fire Department
                    personnel on the scene of the location and number of persons needing rescue.
                </li>
            </ol>
        </div>
        <div data-role="collapsible">
            <h3>Fire</h3>
            <p>In the event of a fire, follow the following directions:</p>
            <ol>
                <li>In the event of an alarm "RACE":</li>
                <ol>
                    <li><b>R:</b> Remove anyone from immediate danger</li>
                    <li><b>A:</b> Activate the building fire alarm system and call <a
                            class="emergency-number" href="tel:911" data-rel="external">911</a></li>
                    <li><b>C:</b> Confine the fire by closing all windows and doors</li>
                    <li><b>E:</b> Evacuate, leave the building</li>
                </ol>
                <li>Extinguish the fire, if it can be done safely</li>
                <li>How to Survive a Building Fire</li>
                <ol>
                    <li>Crawl if there's smoke</li>
                    <li>Feel doors before opening</li>
                    <li>Go to the nearest exit</li>
                    <li>Always us an exit stair, not an elevator</li>
                    <li>Close doors</li>
                    <li>Use a fire extinguisher if the fire is very small and you know how to use it
                        safely
                    </li>
                    <li>If you are on fire- Stop, Drop and Roll</li>
                    <li>If you get trapped</li>
                    <ol type="a">
                        <li>Close the door</li>
                        <li>Seal cracks</li>
                        <li>Open the windows if safe</li>
                        <li>Signal for help and phone <a class="emergency-number" href="tel:911"
                                                         data-rel="external">911</a></li>
                        <li>Don't jump; the fire department will reach you</li>
                    </ol>
                </ol>
                <li>If you are physically impaired</li>
                <ol>
                    <li>If you are disabled (even temporarily), you should do the following:</li>
                    <ol type="a">
                        <li>Learn about fire safety</li>
                        <li>Plan ahead for fire emergencies</li>
                        <li>Be aware of your own capabilities and limitations</li>
                    </ol>
                    <li>Look for "areas of refuge" like stair enclosures or other side of corridor
                        fire doors. Elevators are not safe during fires. Sometimes it may be safer
                        to stay in your room. Follow the advice for being trapped.
                    </li>
                    <li>If there is an immediate threat to safety, ask others near you for
                        assistance. If no help is available, seek refuge in a room with a window or
                        stairway. If possible, call <a href="tel:911">"911"</a> to report your
                        location and receive
                        instructions from the Emergency Operator.
                    </li>
                </ol>
            </ol>
        </div>
        <div data-role="collapsible">
            <h3>Gas Leak/Odor</h3>
            <p>If you smell gas, or believe that a gas leak is occuring, take the following
                steps:</p>
            <ol>
                <li>Call University Police at <a class="emergency-number" href="tel:7575947777"
                                                 data-rel="external">594-7777</a> (or 4-7777 from an
                    on campus phone) to report the gas leak.
                </li>
                <li>For a suspected indoor leak</li>
                <ol type="a">
                    <li>Ventilate the area</li>
                    <li>Shut off open flames</li>
                    <li>Do not operate electrical equiptment</li>
                    <li>If there are heavy concentrations of gas, evacuate the building</li>
                </ol>
                <li>For a suspected outdoor leak</li>
                <ol type="a">
                    <li>Check for gas odor</li>
                    <li>Extinguish all open flames (no smoking)</li>
                    <li>Notify others who may be involved</li>
                </ol>
            </ol>
        </div>
        <div data-role="collapsible">
            <h3>Missing Person</h3>
            <p>If you have reason to believe that a student who resides in on-campus housing is
                missing, you should immediately notify the University Police Department at <a
                        href="tel:7575947777">594-7777</a> (or 4-777 from an on-campus phone).</p>
            <p>
                University Police will initiate an investigation and generate a missing person or a
                missing child report as necessary. To aid in the investigation, please be prepared
                to share the following information:
            <ol>
                <li>Any details about the missing person (name, age, what they were last wearing,
                    who they were with, etc.)
                </li>
                <li>Why you believe they may be missing</li>
                <li>Details about where they were last seen (where, time, date, with whom, etc.)
                </li>
            </ol>
            </p>
            <p>University Police will investigate the incident, and may involve local, state, and
                federal authorities depending on the details of the incident.</p>
            <p>
                For more information, visit:
                <a onclick="window.open('http://cnu.edu/police/securitypolicies/missing/', '_blank', 'location=yes');">
                    http://cnu.edu/police/securitypolicies/missing/
                </a>
            </p>
        </div>
        <div data-role="collapsible">
            <h3>Shelter-In-Place</h3>
            <p>
                The term, <b>shelter-in-place</b>, means to <strong>immediately</strong> seek
                shelter and remain there during an emergency rather than evacuate. Shelter-in-place
                should <strong>only</strong> be used when evacuation is not safe. The decision
                to shelter-in-place will be announced by University officials. In making such
                decisions the University consults with appropriate entities such as state and local
                officials and the National Weather Service. There are only a few emergency
                situations requiring that we shelter-in-place. These include such incidents as a
                tornado warning, a radiation release from Surry Nuclear Power Plant, a hazardous
                material spill, or a violent person. While similar in concept, each incident
                type does have unique shelter-in-place considerations. Familiarization with these
                concepts will help with personal protection decision making.
            </p>
            <p>
                When it is understood that an eminently dangerous situation exists and evacuation is
                inadvisable, notification will be given to shelter-in-place. This announcement will
                be made using the University’s Emergency Notification System as soon as it is
                feasible
                in order to provide the campus community as much time as possible to take protective
                actions.
            </p>
            <p>
                Avoid sheltering in rooms with interior windows that would allow you to be seen from
                another room or hallway.
            </p>
        </div>
        <div data-role="collapsible">
            <h3>Weather Emergencies</h3>
            <p>
                <b>Severe Thunderstorm Watch</b> indicates that severe thunderstorms are possible in
                the area. You should plan what you will do and what items you will need should the
                storm arrive. If you hear thunder outside, go immediately indoors to
                avoid being struck by lightning. Remember that lightning can strike as far as 10
                miles from the storm.
            </p>
            <p>
                <b>Severe Thunderstorm Warning</b> means that severe thunderstorms are imminent or
                already occurring in the area. You should take shelter in a fully enclosed building
                or a vehicle with a metal roof (not a covered patio, open garage, and
                not a convertible). Avoid showers, sinks and electronic equipment during an
                electrical storm. Stay inside for 30 minutes after the last rumble of thunder.
            </p>
            <p>
                <b>Tornado Watch</b> indicates that weather conditions are favorable for the
                formation of tornados in the watch area. You should stay informed about weather
                conditions and plan what you will do and where to go if a tornado warning is issued.
            </p>
            <p>
                <b>Tornado Warning</b> means a tornado has already been spotted or that Doppler
                radar is indicating storm circulation that can quickly spawn a tornado. The campus
                emergency siren will sound this warning and/or a text message will be sent
                to your phone. You should seek shelter in an interior hallway on the lowest possible
                level - of a sturdy building immediately.
            </p>
            <p>
                <b>Tornado Safety</b>: Go to the center of an interior room on the lowest level
                (closet, interior hallway) away from corners, windows, doors, and outside walls. Put
                as many walls as possible between you and the outside. Get under a sturdy
                table and use your arms to protect your head and neck. Do not open windows.
            <p>
                If you cannot get into a building:
            <ul>
                <li>Lie flat in a nearby ditch or depression and cover your head with your hands. Be
                    aware of the potential for flooding.
                </li>
                <li>Do not get under an overpass or bridge. You are safer in a low, flat location.
                </li>
                <li>Never try to outrun a tornado in urban or congested areas in a car or truck.
                    Instead, leave the vehicle immediately for safe shelter.
                </li>
                <li>Watch out for flying debris. Flying debris from tornadoes causes most fatalities
                    and injuries.
                </li>
            </ul>
            </p>
            </p>
        </div>
    </div>
</div>
<style>
    .km-collapsible-header {
        line-height: 3em;
    }

    .km-collapsible-header>h3>span.km-icon {
        top: 1.5rem;
    }

    a.emergency-number:link,
    a.emergency-number:visited {
        color: red !important;
    }

</style>
